In [1]:
# Q1

# (i) string
s = 'Rohan'
    
# (ii) list
l = [1,2,3,"Rohan",4+3j]
    
# (iii) float
f = 66.6
    
# (iv) tuple
t = (1,2,3,"Rohan",4+3j)

# Q2

(i) var1 = ''
-> Datatype on the var1 is string (str).

(ii) var2 = ‘[ DS , ML , Python]’
-> Datatype on the var2 is string (str).

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
-> Datatype on the var3 is list.

(iv) var4 = 1.
-> Datatype on the var4 is float.

# Q3 

(i) /
-> '/' is a Division operator. It is used to divide numbers. Example: 4/2=2

(ii) %
-> '%' is a Modulo operator. It is used to find the remainder of division. Example: 5%2=1

(iii) //
-> '//' is a Floor Division operator. Example: 10//3=3

(iv) **
-> '**' is a Power operator. It used find the power of given number. Example: 2**3=8

In [2]:
#Q4

r = [7, 18, 3.34, "Rohan", 2+3j, [24,2], ("Hello",1), 90, 22.2, 3]

for i in r:
    print(i ,'-->',type(i))

7 --> <class 'int'>
18 --> <class 'int'>
3.34 --> <class 'float'>
Rohan --> <class 'str'>
(2+3j) --> <class 'complex'>
[24, 2] --> <class 'list'>
('Hello', 1) --> <class 'tuple'>
90 --> <class 'int'>
22.2 --> <class 'float'>
3 --> <class 'int'>

In [3]:
#Q5

n1 = int(input("Enter number 1 : "))
n2 = int(input("Enter number 2 : "))
n3 = -1

if(n1%n2==0):
    print("Number is divisible")
    while(n1%n2==0):
        n3+=1
        n1 = n1/n2
    print("Number of times it is divisible: ",n3)
else:
    print("Number is not divisible")

Enter number 1 : 80
Enter number 2 : 2
Number is divisible
Number of times it is divisible:  3

In [4]:
#Q6

l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in l1:
    if i%3==0:
        print(i," is divisible by 3.")
    else:
        print(i," is not divisible by 3.")

1  is not divisible by 3.
2  is not divisible by 3.
3  is divisible by 3.
4  is not divisible by 3.
5  is not divisible by 3.
6  is divisible by 3.
7  is not divisible by 3.
8  is not divisible by 3.
9  is divisible by 3.
10  is not divisible by 3.
11  is not divisible by 3.
12  is divisible by 3.
13  is not divisible by 3.
14  is not divisible by 3.
15  is divisible by 3.
16  is not divisible by 3.
17  is not divisible by 3.
18  is divisible by 3.
19  is not divisible by 3.
20  is not divisible by 3.
21  is divisible by 3.
22  is not divisible by 3.
23  is not divisible by 3.
24  is divisible by 3.
25  is not divisible by 3.

# Q7
-> Mutable data types are those whose values can be modified or updated. This means that you can change individual elements or properties of the data type without creating a new instance. Examples of mutable data type include lists, dictionaries, and sets.

Immutable data types are those whose values cannot be changed after they are created. If you need to modify an immutable data type, you have to create a new instance with the desired changes. Examples of immutable data types include strings, numbers, and tuples.